In [64]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matsim
import importlib
import pollutants
import matplotlib.pyplot as plt
from lxml import etree
import travel_events_anls as travel_anls
import shipment_events_anls as shipment_anls

In [151]:
importlib.reload(pollutants)
importlib.reload(travel_anls)

# Path

In [154]:
root_path = r'../../../../data/intermediate/test/freightEmissions/'
iter_kw = "0"
basic_scenario_outputs = 'scenarioBasic/iter'+iter_kw+'/outputs/'
van_scenario_outputs = 'scenarioVan/iter'+iter_kw+'/outputs/'
cargo_bike_scenario_outputs = 'scenarioCB/iter' + iter_kw +'/outputs/'

scenario_kw = cargo_bike_scenario_outputs

# Read Network

In [3]:
network = matsim.read_network(
    root_path + 'GemeenteLeuvenWithHbefaType.xml.gz'
)
network_gdf = network.as_geo()
network_gdf

,length,freespeed,capacity,permlanes,oneway,modes,link_id,from_node,to_node,geometry
0,7.221720,13.888889,1277.777778,2.0,1,bike,100006229_1-1085376891_0,453075429,453075431,"LINESTRING (175094.462 171579.032, 175087.718 ..."
1,7.924752,13.888889,1277.777778,2.0,1,bike,100006230_1-1085376884_0,1472593946,1156261854,"LINESTRING (175094.956 171547.998, 175102.682 ..."
2,8.518773,13.888889,1277.777778,2.0,1,bike,100006231_0-1085376890_0,1156261856,453075428,"LINESTRING (175114.241 171571.774, 175106.042 ..."
3,50.128561,33.333333,2666.666667,3.5,1,"bike,car",100010104_0,1156293852,1156293879,"LINESTRING (174065.630 177001.873, 174056.230 ..."
4,14.524426,33.333333,2666.666667,3.5,1,"bike,car",100010104_1,1156293879,1156293875,"LINESTRING (174056.230 177051.111, 174070.620 ..."
...,...,...,...,...,...,...,...,...,...,...
103748,183.145612,33.333333,2666.666667,3.5,1,car,splitLink_9904390_5_2,splitNode_9904390_5_1,19792038,"LINESTRING (175632.401 172452.198, 175505.340 ..."
103749,102.305105,33.333333,2666.666667,3.5,1,car,splitLink_9904410_0_1,80702464,splitNode_9904410_0_1,"LINESTRING (176002.946 172889.690, 176056.498 ..."
103750,102.305105,33.333333,2666.666667,3.5,1,car,splitLink_9904410_0_2,splitNode_9904410_0_1,100399122,"LINESTRING (176056.498 172976.855, 176110.050 ..."
103751,113.694402,13.888889,1277.777778,2.0,1,bike,splitLink_99346726_1_1,1149134729,splitNode_99346726_1_1,"LINESTRING (170932.314 173317.687, 171004.317 ..."
103752,113.694402,13.888889,1277.777778,2.0,1,bike,splitLink_99346726_1_2,splitNode_99346726_1_1,1149134746,"LINESTRING (171004.317 173405.669, 171076.321 ..."

In [4]:
nodes = network.nodes
nodes

                   x              y                  node_id
0      175270.308015  173512.798102               1000630419
1      175160.942490  173472.188651               1000630421
2      175238.142000  173547.294517               1000630459
3      175338.370411  173481.813410               1000630462
4      175180.404081  173465.163020               1000630464
...              ...            ...                      ...
59045  174985.241824  172934.604012    splitNode_9904064_1_1
59046  174985.241824  172934.604012  splitNode_9904064_r_1_1
59047  175632.401153  172452.198438    splitNode_9904390_5_1
59048  176056.498044  172976.854738    splitNode_9904410_0_1
59049  171004.317401  173405.669392   splitNode_99346726_1_1

[59050 rows x 3 columns]

# Read carrier plans

In [5]:
# Load the XML file
file_path = root_path + scenario_kw + 'output_carriers.xml.gz'
tree = etree.parse(file_path)
root = tree.getroot()

# Namespace to handle the XML structure
namespace = {"ns": "http://www.matsim.org/files/dtd"}

In [6]:
# Function to extract shipments
def extract_shipments(root, namespace):
    shipments = []
    for carrier in root.findall("ns:carrier", namespaces=namespace):
        carrier_id = carrier.get("id")
        for shipment in carrier.find("ns:shipments", namespaces=namespace).findall("ns:shipment", namespaces=namespace):
            shipments.append({
                "carrier_id": carrier_id,
                "shipment_id": shipment.get("id"),
                "from": shipment.get("from"),
                "to": shipment.get("to"),
                "size": shipment.get("size"),
                "start_pickup": shipment.get("startPickup"),
                "end_pickup": shipment.get("endPickup"),
                "start_delivery": shipment.get("startDelivery"),
                "end_delivery": shipment.get("endDelivery"),
                "pickup_service_time": shipment.get("pickupServiceTime"),
                "delivery_service_time": shipment.get("deliveryServiceTime")
            })
    return pd.DataFrame(shipments)

In [7]:
# Function to extract vehicles
def extract_vehicles(root, namespace):
    vehicles = []
    for carrier in root.findall("ns:carrier", namespaces=namespace):
        carrier_id = carrier.get("id")
        capabilities = carrier.find("ns:capabilities", namespaces=namespace)
        if capabilities is not None:
            for vehicle in capabilities.find("ns:vehicles", namespaces=namespace).findall("ns:vehicle", namespaces=namespace):
                vehicles.append({
                    "carrier_id": carrier_id,
                    "vehicle_id": vehicle.get("id"),
                    "depot_link_id": vehicle.get("depotLinkId"),
                    "type_id": vehicle.get("typeId"),
                    "earliest_start": vehicle.get("earliestStart"),
                    "latest_end": vehicle.get("latestEnd")
                })
    return pd.DataFrame(vehicles)

In [8]:
def extract_paired_tours_from_file(root, namespace):
    tours = []
    for carrier in root.findall("ns:carrier", namespaces=namespace):
        carrier_id = carrier.get("id")
        plans = carrier.find("ns:plans", namespaces=namespace)
        if plans is not None:
            for plan in plans.findall("ns:plan", namespaces=namespace):
                for tour in plan.findall("ns:tour", namespaces=namespace):
                    tour_id = tour.get("tourId")
                    vehicle_id = tour.get("vehicleId")
                    
                    # Pairing `act` and `leg`
                    acts = tour.findall("ns:act", namespaces=namespace)
                    legs = tour.findall("ns:leg", namespaces=namespace)
                    
                    # Ensure we pair correctly by iterating over both
                    for act, leg in zip(acts, legs):
                        tours.append({
                            "carrier_id": carrier_id,
                            "plan_score": plan.get("score"),
                            "plan_selected": plan.get("selected"),
                            "tour_id": tour_id,
                            "vehicle_id": vehicle_id,
                            "activity_type": act.get("type"),
                            "shipment_id": act.get("shipmentId"),
                            "activity_end_time": act.get("end_time"),
                            "leg_dep_time": leg.get("expected_dep_time"),
                            "leg_transp_time": leg.get("expected_transp_time"),
                            "route": leg.find("ns:route", namespaces=namespace).text
                        })
    tours_df = pd.DataFrame(tours)
    tours_df['route'] = tours_df['route'].str.split(' ')
    return tours_df.query("plan_selected=='true'")

In [9]:
shipments_df = extract_shipments(root, namespace)
shipments_df

,carrier_id,shipment_id,from,to,size,start_pickup,end_pickup,start_delivery,end_delivery,pickup_service_time,delivery_service_time
0,carrier_0,shipment_77,333784188_r_3,284664272_r_7,13,05:00:00,05:50:00,06:00:00,08:00:00,00:00:00,00:01:30
1,carrier_0,shipment_78,333784188_r_3,3343971_0-3343971_1-3343971_2-3343971_3,9,17:00:00,17:50:00,18:00:00,20:00:00,00:00:00,00:01:30
2,carrier_0,shipment_79,333784188_r_3,795726691_r_14,22,17:00:00,17:50:00,18:00:00,20:00:00,00:00:00,00:01:30
3,carrier_0,shipment_73,333784188_r_3,374339593_0-374339593_1,18,17:06:00,17:56:00,18:06:00,20:06:00,00:00:00,00:01:30
4,carrier_0,shipment_74,333784188_r_3,3869832_1-3869832_2,11,05:00:00,05:50:00,06:00:00,08:00:00,00:00:00,00:01:30
...,...,...,...,...,...,...,...,...,...,...,...
195,carrier_0,shipment_134,333784188_r_3,814322393_r_0,9,17:06:00,17:56:00,18:06:00,20:06:00,00:00:00,00:01:30
196,carrier_0,shipment_133,333784188_r_3,814577199_r_0,17,17:06:00,17:56:00,18:06:00,20:06:00,00:00:00,00:01:30
197,carrier_0,shipment_132,27566523_11,893949581_0,17,17:00:00,17:50:00,18:00:00,20:00:00,00:00:00,00:01:30
198,carrier_0,shipment_131,333784188_r_3,295116813_0-295116813_1,12,17:06:00,17:56:00,18:06:00,20:06:00,00:00:00,00:01:30
199,carrier_0,shipment_130,27566523_11,40403663_2-40403663_3,16,17:06:00,17:56:00,18:06:00,20:06:00,00:00:00,00:01:30

In [10]:
vehicles_df = extract_vehicles(root, namespace)
vehicles_df

,carrier_id,vehicle_id,depot_link_id,type_id,earliest_start,latest_end
0,carrier_0,carrier0_Van_0,27566523_11,Van,00:00:00,596523:14:07
1,carrier_0,carrier0_Van_1,333784188_r_3,Van,00:00:00,596523:14:07

In [11]:
tour_df = extract_paired_tours_from_file(root, namespace)
tour_df

,carrier_id,plan_score,plan_selected,tour_id,vehicle_id,activity_type,shipment_id,activity_end_time,leg_dep_time,leg_transp_time,route
804,carrier_0,-2880.8889062270546,true,1,carrier0_Van_1,start,None,00:00:00,00:00:00,00:00:00,None
805,carrier_0,-2880.8889062270546,true,1,carrier0_Van_1,pickup,shipment_195,None,05:06:00,00:00:00,None
806,carrier_0,-2880.8889062270546,true,1,carrier0_Van_1,pickup,shipment_5,None,05:06:00,00:00:00,None
807,carrier_0,-2880.8889062270546,true,1,carrier0_Van_1,pickup,shipment_183,None,05:06:00,00:00:00,None
808,carrier_0,-2880.8889062270546,true,1,carrier0_Van_1,pickup,shipment_58,None,05:06:00,00:00:00,None
...,...,...,...,...,...,...,...,...,...,...,...
1201,carrier_0,-2880.8889062270546,true,2,carrier0_Van_1,delivery,shipment_162,None,19:50:18,00:00:06,[892269110_0-892269110_1-892269110_2-892269110...
1202,carrier_0,-2880.8889062270546,true,2,carrier0_Van_1,delivery,shipment_102,None,19:51:54,00:05:21,"[892269122_0, 3343957_2, 3343957_3, 3343957_4,..."
1203,carrier_0,-2880.8889062270546,true,2,carrier0_Van_1,delivery,shipment_134,None,19:58:46,00:00:30,"[814322393_2, 608715520_0, 174338458_0, 174338..."
1204,carrier_0,-2880.8889062270546,true,2,carrier0_Van_1,delivery,shipment_79,None,20:00:46,00:00:44,"[795726691_r_15-795726691_r_16, 795726691_r_17..."
1205,carrier_0,-2880.8889062270546,true,2,carrier0_Van_1,delivery,shipment_20,None,20:03:01,00:03:45,"[174338458_9, 813979465_0, 521193380_0, 521193..."

# Events anls

In [12]:
def parse_matsim_events(file_path):

    # Read the XML file
    tree = etree.parse(file_path)
    root = tree.getroot()

    # Get the data of all events
    events_data = []
    for event in root.findall('event'):
        event_data = event.attrib
        events_data.append(event_data)

    # Convert the data to a DataFrame
    events_df = pd.DataFrame(events_data)

    events_df['time'] = pd.to_numeric(events_df['time'], errors='coerce')
    events_df = events_df.dropna(subset=['time'])
    # If the value of person is not type str while the value of vehicle is not, replace the value of person with the value of vehicle
    events_df['person'] = events_df.apply(lambda x: x['vehicle'] if not isinstance(x['person'], str) else x['person'], axis=1)
    events_df['person'] = events_df.apply(lambda x: x['vehicleId'] if not isinstance(x['person'], str) else x['person'], axis=1)
    # events_df = events_df.sort_values(by=['time'])

    # Store the events per vehicle
    vehicle_events = {}
    for vehicle_id, group in events_df.groupby('person'):
        vehicle_events[vehicle_id] = group

    return events_df, vehicle_events

In [144]:
events_df, vehicle_events = parse_matsim_events(root_path + scenario_kw + 'output_events.xml.gz')

In [145]:
events_df

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,actend,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,departure,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_2,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,actend,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,departure,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,PersonLeavesVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,arrival,NaN,NaN
20335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,actstart,NaN,NaN
20336,NaN,1.496732349818508E-6,5.986929399274036E-5,0.01084822357956593,4.022294889019806,3.847879595373764,NaN,1.30394983229438,0.05524995425073463,1.4967323236287023E-4,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,warmEmissionEvent,NaN,freight_carrier_0_veh_carrier0_Van_1_1
20337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,1,Freight tour ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN

In [147]:
events_df.query("vehicle == 'freight_carrier_0_veh_carrier0_Van_1_1'")

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_1,NaN,1.0,NaN,0.0,NaN,vehicle enters traffic,freight_carrier_0_veh_carrier0_Van_1_1,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_1,NaN,1.0,NaN,0.0,NaN,vehicle leaves traffic,freight_carrier_0_veh_carrier0_Van_1_1,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,PersonLeavesVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72571.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72571.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_1,NaN,1.0,NaN,72573.0,NaN,vehicle leaves traffic,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,PersonLeavesVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,1,Freight tour ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN

In [148]:
test_v_events = vehicle_events.get('freight_carrier_0_veh_carrier0_Van_1_1')
test_v_events

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,actend,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,departure,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,0.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_1,NaN,1.0,NaN,0.0,NaN,vehicle enters traffic,freight_carrier_0_veh_carrier0_Van_1_1,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_1,NaN,1.0,NaN,0.0,NaN,vehicle leaves traffic,freight_carrier_0_veh_carrier0_Van_1_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,PersonLeavesVehicle,freight_carrier_0_veh_carrier0_Van_1_1,NaN
20334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,arrival,NaN,NaN
20335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,actstart,NaN,NaN
20336,NaN,1.496732349818508E-6,5.986929399274036E-5,0.01084822357956593,4.022294889019806,3.847879595373764,NaN,1.30394983229438,0.05524995425073463,1.4967323236287023E-4,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,NaN,warmEmissionEvent,NaN,freight_carrier_0_veh_carrier0_Van_1_1
20337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,NaN,72573.0,1,Freight tour ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN

In [150]:
simple_test_v = test_v_events.query("type == 'Freight shipment delivered ends' or type == 'Freight shipment pickup starts'")
simple_test_v

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,0.0,NaN,shipment_195,0.0,NaN,Freight shipment pickup starts,freight_carrier_0_veh_carrier0_Van_1_1,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,0.0,NaN,shipment_5,1.0,NaN,Freight shipment pickup starts,freight_carrier_0_veh_carrier0_Van_1_1,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,0.0,NaN,shipment_183,2.0,NaN,Freight shipment pickup starts,freight_carrier_0_veh_carrier0_Van_1_1,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,0.0,NaN,shipment_58,3.0,NaN,Freight shipment pickup starts,freight_carrier_0_veh_carrier0_Van_1_1,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,0.0,NaN,shipment_24,4.0,NaN,Freight shipment pickup starts,freight_carrier_0_veh_carrier0_Van_1_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,shipment_35,71861.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN
19527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,shipment_26,71981.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN
19663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,shipment_33,72148.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN
19731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,shipment_111,72244.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN
19872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_1,NaN,NaN,shipment_22,72363.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_1,NaN

In [149]:
travel_anls.identify_shipment_event_seg(test_v_events)

      BC_exhaust Benzene  CH4   CO CO2_TOTAL CO2_rep CO2e   FC FC_MJ   HC  \
2948         NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
2967         NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
3157         NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
3467         NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
3519         NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
...          ...     ...  ...  ...       ...     ...  ...  ...   ...  ...
19420        NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
19527        NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
19663        NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
19731        NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN
19872        NaN     NaN  NaN  NaN       NaN     NaN  NaN  NaN   NaN  NaN

       ... pickupDuration relativePosition    shipmentId     time tourId  \
2948   ...            NaN              NaN    shipment_6  21690.0    NaN
2967   ...            NaN              NaN   shipment_70  22050.0    NaN
3157   ...            NaN              NaN  shipment_127  22233.0    NaN
3467   ...            NaN              NaN  shipment_191  22476.0    NaN
3519   ...            NaN              NaN  shipment_141  22577.0    NaN
...    ...            ...              ...           ...      ...    ...
19420  ...            NaN              NaN   shipment_35  71861.0    NaN
19527  ...            NaN              NaN   shipment_26  71981.0    NaN
19663  ...            NaN              NaN   shipment_33  72148.0    NaN
19731  ...            NaN              NaN  shipment_111  72244.0    NaN
19872  ...            NaN              NaN   shipment_22  72363.0    NaN

                                  type  \
2948   Freight shipment delivered ends
2967   Freight shipment delivered ends
3157   Freight shipment delivered ends
3467   Freight shipment delivered ends
3519   Freight shipment delivered ends
...                                ...
19420  Freight shipment delivered ends
19527  Freight shipment delivered ends
19663  Freight shipment delivered ends
19731  Freight shipment delivered ends
19872  Freight shipment delivered ends

                                      vehicle vehicleId    time_ time_diff
2948   freight_carrier_0_veh_carrier0_Van_1_1       NaN  22050.0     360.0
2967   freight_carrier_0_veh_carrier0_Van_1_1       NaN  22233.0     183.0
3157   freight_carrier_0_veh_carrier0_Van_1_1       NaN  22476.0     243.0
3467   freight_carrier_0_veh_carrier0_Van_1_1       NaN  22577.0     101.0
3519   freight_carrier_0_veh_carrier0_Van_1_1       NaN  22694.0     117.0
...                                       ...       ...      ...       ...
19420  freight_carrier_0_veh_carrier0_Van_1_1       NaN  71981.0     120.0
19527  freight_carrier_0_veh_carrier0_Van_1_1       NaN  72148.0     167.0
19663  freight_carrier_0_veh_carrier0_Van_1_1       NaN  72244.0      96.0
19731  freight_carrier_0_veh_carrier0_Van_1_1       NaN  72363.0     119.0
19872  freight_carrier_0_veh_carrier0_Van_1_1       NaN      NaN       NaN

[104 rows x 40 columns]

/Volumes/External/gitProj/matsim-xp/src/main/python/freight_emission/travel_events_anls.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['time_'] = sub_df['time'].shift(-1)
/Volumes/External/gitProj/matsim-xp/src/main/python/freight_emission/travel_events_anls.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['time_diff'] = sub_df['time_'] - sub_df['time']
/Volumes/External/gitProj/matsim-xp/src/main/python/freight_emission/travel_events_anls.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['time_'] = sub_df['time'].shift(1)
/Volumes/External/gitProj/matsim-xp/src/main/python/freight_emission/travel_events_anls.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['time_diff'] = sub_df['time'] - sub_df['time_']

([28865.0], [29030.0], 72363.0)

In [ ]:
def identify_shipment_event_seg(v_event: pd.DataFrame, time_threshold: int = 2 * 3600):
    sub_df = v_event.query("type=='Freight shipment delivered ends'")
    # Copy the time column to a new column and move forward by one row
    sub_df['time_'] = sub_df['time'].shift(-1)
    # Calculate the time difference between the two columns
    sub_df['time_diff'] = sub_df['time_'] - sub_df['time']
    # Identify the index of the rows where the time difference is greater than the threshold
    idx = sub_df[sub_df['time_diff'] > time_threshold].index
    # Remain 
    return sub_df

In [ ]:
def clip_events_last_shipment_delivered(vehicle_event: pd.DataFrame):
    last_shipment_delivered = vehicle_event.query("type=='Freight shipment delivered ends'").tail(1)
    last_shipment_delivered_idx = last_shipment_delivered.index[0]
    return vehicle_event.loc[:last_shipment_delivered_idx]

In [36]:
clipped_test_v_events = clip_events_last_shipment_delivered(test_v_events)
clipped_test_v_events

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,actend,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,departure,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,0.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_2,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_2,NaN,1.0,NaN,0.0,NaN,vehicle enters traffic,freight_carrier_0_veh_carrier0_Van_1_2,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,car,freight_carrier_0_veh_carrier0_Van_1_2,NaN,1.0,NaN,0.0,NaN,vehicle leaves traffic,freight_carrier_0_veh_carrier0_Van_1_2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,shipment_20,72205.0,NaN,Freight shipment delivered starts,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72296.0,NaN,actend,NaN,NaN
19778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72296.0,NaN,departure,NaN,NaN
19779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72296.0,NaN,PersonEntersVehicle,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,shipment_20,72296.0,NaN,Freight shipment delivered ends,freight_carrier_0_veh_carrier0_Van_1_2,NaN

In [37]:
clipped_test_v_travel_events = clipped_test_v_events.query("type == 'entered link' or type == 'left link'")
clipped_test_v_travel_events

,BC_exhaust,Benzene,CH4,CO,CO2_TOTAL,CO2_rep,CO2e,FC,FC_MJ,HC,...,networkMode,person,pickupDuration,relativePosition,shipmentId,time,tourId,type,vehicle,vehicleId
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,23.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,23.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,25.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,25.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,28.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72186.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72193.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72193.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72199.0,NaN,left link,freight_carrier_0_veh_carrier0_Van_1_2,NaN
19719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,freight_carrier_0_veh_carrier0_Van_1_2,NaN,NaN,NaN,72199.0,NaN,entered link,freight_carrier_0_veh_carrier0_Van_1_2,NaN

## Using travel events anls

In [157]:
travel_events = travel_anls.read_travel_events(root_path + scenario_kw, 
                                               #True
                                               )
travel_events

,type,link,time,vehicle
0,left link,333784188_r_3,4.0,freight_carrier_0_veh_carrier0_CB_1_7
1,entered link,326736776_r_5,4.0,freight_carrier_0_veh_carrier0_CB_1_7
2,left link,333784188_r_3,5.0,freight_carrier_0_veh_carrier0_CB_1_12
3,entered link,326736776_r_5,5.0,freight_carrier_0_veh_carrier0_CB_1_12
4,left link,333784188_r_3,6.0,freight_carrier_0_veh_carrier0_CB_1_1
...,...,...,...,...
27503,entered link,326736776_4,66942.0,freight_carrier_0_veh_carrier0_CB_1_7
27504,left link,326736776_4,66944.0,freight_carrier_0_veh_carrier0_CB_1_7
27505,entered link,333784188_0,66944.0,freight_carrier_0_veh_carrier0_CB_1_7
27506,left link,333784188_0,66948.0,freight_carrier_0_veh_carrier0_CB_1_7
27507,entered link,333784188_r_3,66948.0,freight_carrier_0_veh_carrier0_CB_1_7

In [142]:
travel_events_chains = travel_anls.derive_vehicle_travel_chain(travel_events)
travel_events_chains

({'freight_carrier_0_veh_carrier0_Van_1_2': ['333784188_r_3',
   '326736776_r_5',
   '326736776_r_6',
   '326736776_r_7',
   '326736776_r_8',
   '326736776_r_9',
   '333580518_r_0',
   '333580518_r_1',
   '333580518_r_2',
   '333580518_r_3',
   '333580518_r_4',
   '333580518_r_5',
   '333580518_r_6',
   '333580518_r_7',
   '333580518_r_8',
   '333580518_r_9',
   '333580518_r_10',
   '333580518_r_11',
   '333580518_r_12',
   '333580518_r_13-333580518_r_14',
   '333580518_r_15',
   '333580518_r_16',
   '608754690_0-112917238_0',
   '112917238_1',
   '112917238_2',
   '112917238_3',
   '112917238_4',
   '112917238_5',
   '112917238_6',
   '112917238_7',
   '112917238_8',
   '112917238_9',
   '112917238_10',
   '112917238_11-112917238_12',
   '112917238_13',
   '502317796_0',
   '502317796_1',
   '502317796_2',
   '502317796_3',
   '502317796_4',
   '502317796_5',
   '810580948_0',
   '810580948_1',
   '810580948_2',
   '502317795_0',
   '502317795_1',
   '502317795_2',
   '502317795_3',
   '15945426_0',
   '15945426_1',
   '15945426_2-15945426_3-15945426_4',
   '78873921_r_0-78873921_r_1-78873921_r_2',
   '3752557_r_0',
   '3752557_r_1',
   '3752557_r_2-3752557_r_3-3752557_r_4-3752557_r_5',
   '249333188_r_0-249333188_r_1',
   '249333188_r_2-249333188_r_3',
   '249333181_0-249333181_1',
   '249333181_2',
   '249333181_3',
   '249333181_4',
   '249333181_5',
   '249333181_6',
   '249333181_7',
   '189453001_r_0',
   '189453002_0',
   '189453004_0',
   '189453004_1',
   '189453004_2',
   '189453004_3',
   '189453004_4',
   '189453004_5',
   '79289753_0',
   '79289753_1',
   '79289753_2',
   '79289753_3',
   '79289753_4',
   '79289753_5',
   '189453003_0',
   '189453003_1',
   '189453003_2',
   '189453003_3',
   '189453003_4',
   '189453003_5',
   '189453003_6',
   '1089567295_0',
   '961131597_r_0',
   '961131597_r_1',
   '961131597_r_2',
   '961131597_r_3',
   '3358675_r_0',
   '3358675_r_1',
   '3358675_r_2',
   '3358675_r_3',
   '3358675_r_4-961129697_r_0',
   '1085069643_0-1085069643_1',
   '1085069641_0-1085069641_1',
   '1085069641_2-1085069641_3',
   '843033243_0',
   '843033243_1',
   '843033243_2-843033243_3',
   '843033243_4',
   '843033243_5',
   '843033243_6',
   '843033243_7',
   '843033243_8',
   '843033242_0',
   '843033242_1',
   '843033242_2',
   '843033242_3',
   '843033242_4',
   '8129915_0',
   '8129915_1',
   '8129915_2',
   '8129915_3',
   '8129915_4-8129915_5',
   '8129915_6',
   '8129915_7',
   '8129915_8',
   '8129915_9',
   '8129915_10',
   '8129915_11',
   '8129915_12',
   '8129915_13',
   '8129915_14',
   '8129915_15',
   '8129915_16-8129915_17',
   '8129915_18',
   '8129915_19-8129915_20',
   '1274256018_r_0',
   '902611087_r_0',
   '902611087_r_1',
   '126304912_r_0',
   '126304912_r_1',
   '126304912_r_2',
   '126304912_r_3',
   '126304912_r_4',
   '126304912_r_5',
   '3869822_0',
   '3869822_1',
   '3869822_2',
   '3869822_3',
   '3869822_4',
   '3869822_5',
   '330300725_0',
   '330300725_1',
   '270181176_r_0',
   '406205781_r_0',
   '843534478_r_0',
   '843534478_r_1',
   '314635787_r_0',
   '314635787_r_1',
   '314635787_r_2',
   '510790348_r_0',
   '510790349_0-510790349_1-510790349_2',
   '510790349_3',
   '510790349_4',
   '510790349_5',
   '510790349_6',
   '3992548_0',
   '3992548_1',
   '3992548_2',
   '3992548_3',
   '3992548_4',
   '254800931_0',
   '254800931_1',
   '62268125_0',
   '62268125_1',
   '263138305_0',
   '263138305_1',
   '263138305_2',
   '44932918_0',
   '44932918_1',
   '44932918_2',
   '44932918_3',
   '44932918_4',
   '12714939_0',
   '320591282_0',
   '320591282_1-320591282_2',
   '12715116_0',
   '12715116_1-12715116_2',
   '12715116_3',
   '12715116_4',
   '12715116_5',
   '23707244_0',
   '23707244_1',
   '23707244_2',
   '23707244_3',
   '23707243_0',
   '23707243_1',
   '23707243_2',
   '23707243_3',
   '940912606_0-940912606_1-940912606_2',
   '940912606_3-940912606_4-940912606_5',
   '940912606_6',
   '940912606_7',
   '940912606_8',
   '61596289_0',
   '61596289_1',
   '61596289_2',
   '608715553_0',
   '608715553_1',
   '608715553_2',
   '608715553_3',
   '608715553_4',
   '608715553_5',
   '15081933_0',
   '15081933_1',
   '286591669_0',
   '286591669_1',
   '27566528_2',
   '27566528_3',
   '27566528_4-27566528_5',
   '27566528_6',
   '1012971579_0',
   '1012971579_1-1012971579_2',
   '1012971579_3',
   '286591662_0',
   '286591662_1',
   '1012971580_0',
   '27566523_r_7',
   '27566523_r_8',
   '27566523_r_9',
   '27566523_11',
   '27566523_r_9',
   '27566523_r_10',
   '27566523_r_11',
   '27566523_r_12',
   '27566523_r_13',
   '27566523_r_14-27566523_r_15',
   '27566523_r_16',
   '27566523_r_17',
   '27566523_r_18',
   '27566523_r_19-27566523_r_20',
   '125835552_r_15',
   '125835552_r_16',
   '125835552_r_17',
   '125835552_r_18',
   '125835552_r_19-125835552_r_20',
   '125835552_r_21-688336518_r_0',
   '688336518_r_1',
   '429571922_r_0',
   '429571922_r_1-429571922_r_2',
   '429571922_r_3',
   '429571922_r_4',
   '79366165_0-79366165_1',
   '125835500_0-125835500_1-125835500_2-125835500_3',
   '125835500_4-125835500_5',
   '35633068_0',
   '35633068_1-35633068_2',
   '35633068_3',
   '35633068_4-35633068_5',
   '35633068_6-35633068_7-35633068_8',
   '608715602_0',
   '608715602_1',
   '608715601_0',
   '608715604_0',
   '608715603_0',
   '429571921_0-429571921_1',
   '125835568_r_0',
   '125835568_r_1',
   '970670796_0',
   '23707244_r_0',
   '23707244_r_1',
   '23707244_r_2',
   '23707244_r_3',
   '125835524_0',
   '125835524_1',
   '125835524_2',
   '125835524_3',
   '125835524_4',
   '125835524_5',
   '125835524_6',
   '125835524_7-125835524_8',
   '125835524_9',
   '932392823_0',
   '932392823_1-932392823_2',
   '932392823_3',
   '932392824_r_0',
   '932392824_r_1',
   '932392824_r_2',
   '932392822_0',
   '932392822_1',
   '932392822_2',
   '932392822_3',
   '932392825_r_0',
   '15216997_7',
   'splitLink_15216997_8_1',
   'splitLink_15216997_8_2',
   '15216997_9',
   '15216997_10',
   '15216997_11',
   '15216997_12',
   '15216997_13',
   '15216997_14',
   '15216997_15',
   '959040687_0',
   '122022742_r_2-89878548_r_0',
   '89878548_r_1',
   '89878548_r_2',
   '89878548_r_3-89878548_r_4',
   '89878548_r_5',
   '89878548_r_6',
   '89878548_r_7',
   '13883888_r_0',
   '13883888_r_1',
   '13883888_r_2-13883888_r_3',
   '16274573_13',
   '16274573_14',
   '98825476_0',
   '98825476_1',
   '318825611_0',
   '318825611_1',
   '318825611_2',
   '304241967_0',
   '304241967_1',
   '304241968_0',
   '29283599_0',
   '29283599_1',
   '29283599_2',
   '29283599_3-29283599_4',
   '124190277_0-124190277_1',
   '124190277_2',
   '124190277_3',
   '314629121_0',
   '314629121_1',
   '314629121_2',
   '314629121_3',
   '314629121_4',
   '314629121_5',
   '1266908568_r_0',
   '1266908568_r_1',
   '1266908568_r_2',
   '1266908568_r_3',
   '1266908568_r_4',
   '314629121_r_9',
   '314629121_r_10',
   '314629121_r_11',
   '314629121_r_12',
   '124190277_r_2',
   '124190277_r_3',
   '124190277_r_4-124190277_r_5',
   '510790349_0-510790349_1-510790349_2',
   '510790349_3',
   '510790349_4',
   '510790349_5',
   '510790349_6',
   '510790346_0',
   '525621258_0',
   '701316142_0',
   '723344593_0',
   '98940622_0',
   '98940622_1-98940623_0',
   '98940623_1-701316141_0',
   '701316141_1',
   '3869819_2',
   '305316103_0',
   '305316103_1',
   '305316103_2',
   '305316103_3',
   '305316103_4-305316103_5',
   '305316103_6',
   '305316103_7',
   '305316103_8',
   '372559055_0',
   '372559055_1',
   '578662062_0-578662062_1-578662062_2-578662062_3',
   '338057820_0',
   '304242019_1',
   '304242019_2',
   '304242019_r_3',
   '304242019_r_4',
   '338057820_1',
   '338057820_2',
   '338057820_3',
   '338057820_4',
   '338057820_5-338057820_6',
   '338057820_7',
   '338057820_8',
   '3869812_r_0',
   '3869812_r_1',
   '3869812_r_2',
   '3869812_r_3',
   '3869812_r_4',
   '3869812_r_5',
   '3869812_r_6',
   '1231875369_r_0',
   '1231875369_r_1-1231875369_r_2-1231875369_r_3',
   '25928482_r_0',
   '25928482_r_1-25928482_r_2',
   '25928482_r_3',
   '25928482_r_4',
   '25928482_r_5',
   '25928482_r_6',
   '659297690_r_0',
   '330300723_0',
   '330300723_1',
   '3869822_0',
   '3869822_1',
   '3869822_2',
   '3869822_3',
   '3869822_4',
   '3869822_5',
   '3869822_r_0',
   '3869822_r_1',
   '3869822_r_2',
   '3869822_r_3',
   '3869822_r_4',
   '3869822_r_5',
   '126304912_0',
   '126304912_1',
   '126304912_2',
   '126304912_3',
   '126304912_4',
   '126304912_5',
   '902611087_0',
   '902611087_1',
   '1274256018_0',
   '3871574_0',
   '3871574_1',
   '3871574_2-3871574_3',
   '3871574_4',
   '3871574_5',
   '3871574_6',
   '3871574_7',
   '3871574_r_6',
   '3871574_r_7',
   '3871574_r_8',
   '3871574_r_9',
   '3871574_r_10-3871574_r_11',
   '3871574_r_12',
   '3871574_r_13',
   '293787287_r_0-293787287_r_1',
   '293787287_r_2',
   '293787287_r_3',
   '293787287_4',
   '293787287_r_3',
   '293787287_r_4',
   '293787287_r_5',
   '293787287_r_6',
   '293787287_r_7-293787286_r_0',
   '8412180_r_0',
   '8412180_r_1',
   '8412180_r_2',
   '8412180_r_3',
   '8412180_r_4',
   '8412180_r_5',
   '8412180_r_6',
   '622063656_0',
   '99500130_r_0-99500130_r_1',
   '99500130_r_2',
   '99500130_r_3',
   '844373391_0',
   '844373391_1-844373391_2',
   '313602854_r_0',
   '313602854_r_1-313602854_r_2',
   '313602854_r_3',
   '313602854_r_4',
   '313602854_r_5',
   '313602854_r_6',
   '9825487_r_0',
   '1193493546_0',
   '1193493546_1-1193493546_2',
   '1193493546_3',
   '1193493546_4',
   '1193493546_r_2',
   '1193493546_r_3',
   '1193493546_r_4-1193493546_r_5',
   '1193493546_r_6',
   '9825487_r_1',
   '9825487_r_2',
   '9825487_r_3',
   '9825487_r_4',
   '99500134_r_0',
   '99500134_r_1',
   '99500134_r_2',
   '99500134_r_3',
   '99500129_0',
   '306871583_0-99500128_0',
   '99500128_r_3-306871583_r_0',
   '306871583_0-99500128_0',
   '99500128_1',
   '99500128_2-99500128_3',
   '3992549_r_3',
   '3992549_r_4',
   '25851247_r_0-25851247_r_1',
   '25851247_r_2',
   '17411455_0',
   '687564557_0',
   '687564557_1',
   '687564557_2',
   '93721628_0',
   '687564557_6',
   '687564557_7',
   '687564557_r_0',
   '687564557_r_1',
   '93721628_r_0',
   '687564557_r_5',
   '687564557_r_6',
   '687564557_r_7',
   '17411455_r_0',
   '10149350_0',
   '10149350_1',
   '10149350_2',
   '456815189_r_0',
   '456815189_r_1',
   '456815189_r_2',
   '456815189_r_3',
   '25922245_0',
   '25922245_1',
   '25922245_2',
   '25922245_3',
   '25922245_4',
   '25922245_5',
   '25922245_6',
   '25922245_7',
   '25922245_8',
   '25813260_0',
   '25813260_1',
   '25813260_2-25813260_3-25813260_4',
   '22999347_0-22999347_1',
   '22999347_2-22999347_3',
   '313456623_0',
   '313456623_r_2',
   '22999347_4',
   '22999347_5',
   '22999347_6-22999347_7-22999347_8-22999347_9',
   '22999347_10-22999347_11',
   '22999347_12',
   '26085017_r_0',
   '26085017_r_1',
   '26085017_r_2',
   '26085017_r_3',
   '26085017_r_4',
   '26085017_r_5',
   '26085017_r_6',
   '456815187_r_0',
   '456815187_r_1',
   '13862622_0',
   '13862622_r_5',
   '456815187_0',
   '456815187_1',
   '26085017_0',
   '26085017_1',
   '26085017_2',
   '26085017_3',
   '26085017_4',
   '26085017_5',
   '26085017_6',
   '843534477_0',
   '843534477_1',
   '843534476_0',
   '843534476_1',
   '25983368_0',
   '25983368_1',
   '25983368_2',
   '25983368_3',
   '25983368_4',
   '25983368_5',
   '25983368_6',
   '25983368_7',
   '316395269_0',
   '316395269_1',
   '316395308_r_0',
   '316395308_r_1-316395299_r_0',
   '316395311_r_0',
   '316395311_r_1',
   '316395311_r_2',
   '316395311_r_3',
   '316395311_r_4',
   '316395311_2',
   '316395311_3',
   '316395311_4',
   '316395311_5',
   '316395311_6',
   '316395299_0-316395308_0',
   '316395308_1',
   '316395269_2-316395269_3',
   '316395269_4',
   '316395269_r_2',
   '316395269_r_3-316395269_r_4',
   '316395269_r_5',
   '316395269_r_6',
   '25983368_r_0',
   '25983368_r_1',
   '25983368_r_2',
   '25983368_r_3',
   '25983368_r_4',
   '25983368_r_5',
   '11999380_r_0',
   '11999380_r_1',
   '11999380_r_2',
   '11999380_r_3',
   '10149534_0',
   '10149534_1',
   '10149534_2',
   '608436906_0',
   '608436906_1',
   '608436906_2',
   '99500150_r_0',
   '99500150_r_1',
   '99500150_r_2',
   '99500150_r_3',
   '99500150_r_4',
   '99500150_r_5',
   '99500149_r_0',
   '99500149_r_1',
   '99500149_r_2',
   '99500149_r_3',
   '99500149_r_4',
   '23041586_r_0',
   '23041586_r_1',
   '23041586_r_2',
   '23041586_r_3',
   '23041586_r_4',
   '23041586_r_5',
   '23041586_r_6-23041586_r_7',
   '843534479_0',
   '843534479_r_1',
   '99500153_r_0',
   '99500153_r_1',
   '99500153_r_2',
   '99500153_r_3',
   '99500153_r_4',
   '844373396_r_0',
   '844373396_r_1',
   '844373396_r_2',
   '99500158_r_0',
   '3992549_r_0',
   '3992549_r_1',
   '3992549_r_2',
   '3992549_r_3',
   '3992549_r_4',
   '3992549_r_5',
   '3992549_r_6',
   '3992549_r_7',
   '3992549_r_8',
   '126348346_0',
   '126348346_1',
   '126348346_2',
   '126348346_3',
   '126348346_4',
   '126348346_5',
   '126348346_6',
   '126348346_7',
   '126348346_8',
   '126348346_9',
   '126348346_10',
   '126348346_11',
   '126348346_12',
   '126348346_13',
   '131632250_0',
   '131632250_1',
   '131632250_r_3',
   '131632250_r_4',
   '125835549_0',
   '125835549_1',
   '125835549_2',
   '125835549_3',
   '125835549_4',
   '125835569_0-125835569_1',
   '453538107_0',
   '80194313_0',
   '80194313_1',
   '293288706_0',
   '293288706_1',
   '10269271_0',
   '10269271_1',
   '608715541_0',
   '293149632_0',
   '125835616_0-125835616_1',
   '125835616_r_1-125835616_r_2',
   '125835616_0-125835616_1',
   '125835616_2-306871581_0-290143786_0',
   '290143786_1',
   '726508756_0',
   '726508756_1',
   '726508755_0',
   '726508755_1',
   '726508755_2',
   '726508755_3',
   '726508754_0',
   '13241818_0',
   '13241818_1',
   '726508753_0',
   '726508753_1',
   '4746850_0-4746850_1',
   '125835550_0-125835550_1-125835550_2-293452552_0-293452552_1-293452552_2',
   '293452552_3-293452552_4-293452552_5',
   '293452552_6',
   '293452552_7',
   '293452552_8',
   '293452552_9',
   '293452552_10-293452552_11-293452552_12',
   '293452552_13-293452552_14',
   '608715541_0',
   '293149632_0',
   '125835616_0-125835616_1',
   '125835616_2-306871581_0-290143786_0',
   '290143786_1',
   '726508756_0',
   '726508756_1',
   '726508755_0',
   '726508755_1',
   '726508755_2',
   '726508755_3',
   '726508754_0',
   '13241818_0',
   '13241818_1',
   '726508753_0',
   '726508753_1',
   '456815190_0',
   '456815190_1',
   '456815190_2',
   '456815190_3',
   '456815190_4',
   '456815190_5',
   '456815190_6',
   '456815190_7',
   '521211970_0',
   '521211970_1',
   '521211970_2',
   '521211968_0',
   '521211967_0',
   '521211969_0',
   '123929457_0',
   '123929457_1',
   '123929457_2',
   '123929457_3',
   '123929457_4',
   '1066053511_r_0',
   '1066053511_r_1-1066053511_r_2',
   '123929547_r_0',
   '123929547_r_1',
   '123929547_r_2',
   '123929547_r_3',
   '123929547_r_4',
   '123929547_r_5-123929547_r_6-123929547_r_7',
   '8127969_r_0',
   '8127969_r_1',
   '8127969_r_2',
   '8127969_r_3',
   '8127969_r_4',
   '8127969_r_5',
   '8127969_r_6',
   '8127969_r_7',
   '8127969_r_8-8127969_r_9',
   '8127969_r_10',
   '3869830_r_0',
   '3869830_r_1',
   '3869830_r_2',
   '3869830_r_3',
   '3869830_r_4',
   '3869830_r_5',
   '21550888_r_0-21550900_r_0',
   '21550900_r_1',
   '21550900_r_2',
   '17410068_r_0',
   '17410062_r_0',
   '17410062_r_1',
   '17410062_r_2',
   '3869832_0',
   '3869832_1-3869832_2',
   '3869832_3',
   '3869832_4',
   '17410132_0',
   '17410128_0',
   '17410128_1',
   '17410128_2',
   '17410128_3',
   '17410128_4',
   '17410128_5',
   '17410128_6',
   '17410128_7',
   '454066149_0',
   '126348339_0',
   '126348339_1',
   '453808500_0',
   '453808500_r_6',
   '453808502_0',
   '453808502_1',
   '453808502_2',
   '453808502_3',
   '99500135_0',
   '99500135_1',
   '314109837_0-314109838_0',
   '314109838_1',
   '314109838_2',
   '314109838_3',
   '297017195_0-297017195_1',
   '297017195_2',
   '23237286_1',
   '23237286_2',
   '3877007_0',
   '3877007_1',
   '3877006_0',
   '3877006_1-125472523_0',
   '3390204_0-3390204_1',
   '3390204_2',
   '3390204_3',
   '3390204_4',
   '3390204_5',
   '24471494_0',
   '24471494_1',
   '24471494_2',
   '24471494_3',
   '24471494_4',
   '24471494_5',
   '24471494_6',
   '24471494_7',
   '24471494_8',
   '24471494_9',
   '694962962_0',
   '694962964_0',
   '694962964_r_0',
   '694962962_r_0',
   '24471494_10',
   '24471494_11',
   '24471494_12',
   '3752565_0-3752565_1',
   '3752565_2',
   '3752565_3',
   '608715598_8',
   '608715597_0-95890227_0',
   '95890227_1',
   '95890227_2',
   '95890227_3',
   '95890227_4',
   '95890227_5',
   '95890227_6',
   '13066183_0',
   '13066183_1',
   '13066183_2',
   '13066183_3',
   '13066183_4',
   '13066183_5',
   '13066183_6',
   '13066183_7',
   '13066183_8',
   '843033252_0',
   '843033252_1',
   '843033252_2',
   '843033252_3',
   '843033252_4',
   '843033252_5',
   '843033252_6',
   '843033252_7',
   '8101837_0',
   '8101837_1-8101837_2-8101837_3',
   '8101837_4-8101837_5-8101837_6-8101837_7-8101837_8',
   '8101837_9',
   '843033251_0',
   '843033251_1',
   '843033251_2',
   '843033251_3',
   '843033251_4-843033251_5',
   '843033251_6',
   '228638295_1',
   '228638295_2-228638295_3',
   '843033253_0',
   '843033253_1',
   '198882511_0',
   '198882511_1',
   '198882511_2',
   '198882511_3-688582803_0',
   '446474263_0-446474263_1',
   '446474263_2',
   '446474263_3-446474263_4',
   '446474263_5',
   '446474263_6',
   '446474263_7',
   '446474263_8',
   '13523027_0',
   '13523027_1',
   '13523027_2',
   '13523027_3',
   '13523027_4',
   '13523027_5-13523027_6',
   '13523027_7',
   '13523027_8',
   '13523027_9',
   '898173885_0-898173885_1',
   '1056637424_0-1056637424_1-1056637424_2',
   '566326282_0',
   '566326281_0-566326280_r_0',
   '71745448_0-71745448_1',
   '3343957_0',
   '3343963_0',
   '3343963_1',
   '3343963_2',
   '3343963_3-3343963_4',
   '3343958_0-3343958_1',
   '3343958_2',
   '566326280_0-566326281_r_0',
   '450062748_r_0',
   '450062748_r_1',
   '450062748_2',
   '450062748_3',
   '566326281_0-566326280_r_0',
   '71745448_0-71745448_1',
   '48392358_0',
   '48392358_1',
   '48392358_2',
   '48392358_3',
   '48392358_4',
   '48392358_5',
   '48392358_6',
   '48392358_7',
   '48392358_8-48392358_9',
   '48392358_10',
   '48392358_11',
   '48392358_12',
   '48392358_13',
   '48392358_14',
   '48392358_15',
   '48392358_16',
   '439142854_0',
   '439142854_1-439142854_2',
   '79002195_0',
   '79002195_1',
   '79002195_2-79002195_3-79002195_4-79002195_5-79002195_6-79002195_7',
   '79002199_0-79002199_1',
   '79002199_2-79002199_3',
   '79002199_4-79002199_5-79002199_6',
   '8127646_0-8127646_1-8127646_2',
   '8127646_3',
   '79002197_0',
   '79002197_1',
   '79002197_2',
   '79002197_3',
   '79002197_4',
   '843033254_0',
   '843033254_1',
   '843033254_2',
   '843033255_0-843033255_1-843033255_2',
   '3351203_r_0-3351203_r_1',
   '3351203_r_2',
   '3351203_r_3-3351203_r_4-3351203_r_5',
   '3351203_r_6',
   '3351203_r_7',
   '3351203_r_8',
   '3351203_r_9',
   '3351203_r_10',
   '3351203_r_11',
   '3351203_r_12',
   '3351203_r_13',
   '3351203_r_14',
   '3351203_r_15',
   '3351203_r_16',
   '608715568_r_0',
   '608715568_r_1',
   '723240771_0',
   '723240771_1',
   '655220795_0-655220795_1',
   '655220795_r_0-655220795_r_1',
   '723240771_2',
   '723240771_3',
   '3848767_0-723240770_0',
   '723240770_1',
   '723240769_0',
   '723240769_1',
   '723240769_2-8127972_0',
   '723240768_0',
   '723240768_1-28588899_0-28588899_1',
   '28588899_2-28588899_3-28588899_4-28588899_5-28588899_6',
   '28588899_7',
   '28588899_8-28588899_9',
   '368282243_0-368282243_1',
   '368282243_2',
   '368282243_3',
   '23237287_0',
   '23237287_1',
   '23237287_2',
   '23237287_3',
   '23237287_4',
   '23237287_5',
   '3389261_0',
   '3389261_1-3389261_2',
   '3389261_3',
   '3389261_4',
   '3389261_5',
   '3389261_6',

In [158]:
sum(list(travel_anls.derive_all_vkt_as_dict(travel_events, network_gdf)[0].values()))

250618.56870790463

In [133]:
travel_anls.derive_all_vkt_as_dict(travel_events, network_gdf)

({'freight_carrier_0_veh_carrier0_CB_1_7': 24339.012579260463,
  'freight_carrier_0_veh_carrier0_CB_1_12': 22200.314569716054,
  'freight_carrier_0_veh_carrier0_CB_1_1': 21271.876409180375,
  'freight_carrier_0_veh_carrier0_CB_0_10': 20305.112274195737,
  'freight_carrier_0_veh_carrier0_CB_0_13': 17094.565127114365,
  'freight_carrier_0_veh_carrier0_CB_0_6': 21620.76252621826,
  'freight_carrier_0_veh_carrier0_CB_1_2': 16826.78212326378,
  'freight_carrier_0_veh_carrier0_CB_1_4': 12770.183950139928,
  'freight_carrier_0_veh_carrier0_CB_0_9': 21541.16211974822,
  'freight_carrier_0_veh_carrier0_CB_0_3': 15128.866195232575,
  'freight_carrier_0_veh_carrier0_CB_0_5': 23417.29934623425,
  'freight_carrier_0_veh_carrier0_CB_0_11': 18852.585562167147,
  'freight_carrier_0_veh_carrier0_CB_1_8': 15250.045925433478},
 {'freight_carrier_0_veh_carrier0_CB_1_7': 5523.0,
  'freight_carrier_0_veh_carrier0_CB_1_12': 5424.0,
  'freight_carrier_0_veh_carrier0_CB_1_1': 5045.0,
  'freight_carrier_0_veh_carrier0_CB_0_10': 4576.0,
  'freight_carrier_0_veh_carrier0_CB_0_13': 4055.0,
  'freight_carrier_0_veh_carrier0_CB_0_6': 5486.0,
  'freight_carrier_0_veh_carrier0_CB_1_2': 4044.0,
  'freight_carrier_0_veh_carrier0_CB_1_4': 3288.0,
  'freight_carrier_0_veh_carrier0_CB_0_9': 4862.0,
  'freight_carrier_0_veh_carrier0_CB_0_3': 3813.0,
  'freight_carrier_0_veh_carrier0_CB_0_5': 5173.0,
  'freight_carrier_0_veh_carrier0_CB_0_11': 4038.0,
  'freight_carrier_0_veh_carrier0_CB_1_8': 3941.0})

In [134]:
travel_anls.derive_all_vkt_as_dict(clipped_test_v_travel_events, network_gdf)

({'freight_carrier_0_veh_carrier0_Van_1_2': 54113.18740448947},
 {'freight_carrier_0_veh_carrier0_Van_1_2': 16269.0})

In [20]:
test_v_events['type'].unique()

array(['actend', 'departure', 'PersonEntersVehicle',
       'vehicle enters traffic', 'vehicle leaves traffic',
       'PersonLeavesVehicle', 'arrival', 'actstart',
       'Freight tour starts', 'coldEmissionEvent',
       'Freight shipment pickup starts', 'Freight shipment pickup ends',
       'left link', 'entered link', 'warmEmissionEvent',
       'Freight shipment delivered starts',
       'Freight shipment delivered ends', 'Freight tour ends'],
      dtype=object)

# Shipment count

In [65]:
shipments_df = shipment_anls.read_shipment_events(root_path + scenario_kw)
shipments_df

,capacityDemand,pickupDuration,shipmentId,carrierId,type,link,vehicle,time
0,9.0,0.0,shipment_195,carrier_0,Freight shipment pickup starts,333784188_r_3,freight_carrier_0_veh_carrier0_Van_1_1,0.0
1,14.0,0.0,shipment_61,carrier_0,Freight shipment pickup starts,333784188_r_3,freight_carrier_0_veh_carrier0_Van_1_2,0.0
2,16.0,0.0,shipment_129,carrier_0,Freight shipment pickup starts,333784188_r_3,freight_carrier_0_veh_carrier0_Van_1_2,1.0
3,18.0,0.0,shipment_5,carrier_0,Freight shipment pickup starts,333784188_r_3,freight_carrier_0_veh_carrier0_Van_1_1,1.0
4,13.0,0.0,shipment_183,carrier_0,Freight shipment pickup starts,333784188_r_3,freight_carrier_0_veh_carrier0_Van_1_1,2.0
...,...,...,...,...,...,...,...,...
195,24.0,0.0,shipment_142,carrier_0,Freight shipment pickup starts,27566523_11,freight_carrier_0_veh_carrier0_Van_1_1,29774.0
196,15.0,0.0,shipment_112,carrier_0,Freight shipment pickup starts,27566523_11,freight_carrier_0_veh_carrier0_Van_1_1,29775.0
197,18.0,0.0,shipment_109,carrier_0,Freight shipment pickup starts,27566523_11,freight_carrier_0_veh_carrier0_Van_1_1,29776.0
198,6.0,0.0,shipment_47,carrier_0,Freight shipment pickup starts,27566523_11,freight_carrier_0_veh_carrier0_Van_1_1,29777.0
199,10.0,0.0,shipment_66,carrier_0,Freight shipment pickup starts,27566523_11,freight_carrier_0_veh_carrier0_Van_1_1,29778.0